doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    title Dashboard Template for Bootstrap
    // Bootstrap core CSS
    link(href='https://cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/dashboard.css', rel='stylesheet')
    // Optional Bootstrap Theme
    link#bs-theme-stylesheet(href='data:text/css;charset=utf-8,', data-href='https://cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap-theme.min.css', rel='stylesheet')
    // Documentation extras
    link(href='/assets/css/docs.min.css', rel='stylesheet')
    //if lt IE 9
      script(src='../assets/js/ie8-responsive-file-warning.js')
    script(src='/assets/js/ie-emulation-modes-warning.js')
  body
    nav.navbar.navbar-dark.navbar-fixed-top.bg-inverse
      button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Personal Password Manager
      #navbar
        form(method='GET', action='/logout')
          button.btn.btn-default.navbar-btn.pull-xs-right(type='submit') Log Out
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li
              a(href='dashboard') Overview 
            li
              a(href='sites') Sites
            li.active
                a(href='bankcards') Bank Cards
                span.sr-only (current)
            li
                a(href='#') Identifies
            li
                a(href='servers') Servers
            li
                a(href='databases') Databases
                
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          // sample modal content
          #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#myModalLabel.modal-title Add 
                .modal-body
                  form.form(action='/content/insertBankcard', method='POST')
                    .form-group
                      label.col-lg-2(for='exampleType')  Type
                      select.form-control(name='type')
                        option Credit Card
                        option Debit Card
                    .form-group
                      label.col-lg-5(for='exampleSiteName')  Bankcard Number 
                      input#exampleSiteName.form-control(type='text', name='cardnumber', placeholder='Bankcard Number')
                    .form-group
                      label.col-lg-2(for='exampleBands')  Bands
                      
                      label.checkbox-inline
                        input#inlineCheckbox1(type='checkbox', name='option1', value='Visa')
                        | Visa
                      label.checkbox-inline
                        input#inlineCheckbox2(type='checkbox', name='option2', value='MasterCard')
                        | MasterCard
                      label.checkbox-inline
                        input#inlineCheckbox3(type='checkbox', name='option3', value='UnionPay')
                        | UnionPay
                      label.checkbox-inline
                        input#inlineCheckbox4(type='checkbox', name='option4', value='JCB')
                        | JCB
                    //
                      <div class="form-group">
                      <label for="exampleEmail" class="col-lg-2"> Email </label>
                      <input type="email" class="form-control" name="email" id="exampleEmail" placeholder="Email">
                      </div>
                    .form-group
                      label.col-lg-4(for='exampleValid')  Valid From 
                      input#exampleValid.form-control(type='text', name='valid', placeholder='Valid From')
                    .form-group
                      label.col-lg-4(for='exampleExpiry')  Expiry Date
                      input#exampleExpiry.form-control(type='text', name='expiry', placeholder='Expiry Date')
                    .form-group
                      label.col-lg-2(for='exampleLabel')  Label 
                      select.form-control(name='label')
                        option Salary
                        option Consumption
                        option Loan
                        option Other
                    .form-group
                      label.col-lg-2(for='exampleComments')  Comments 
                      input#exampleComments.form-control(type='text', name='comments', placeholder='Write down comments')
                    button.btn.btn-default.col-md-offset-7(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary.col-md-offset-1(type='submit') Save
              // /.modal-content
            // /.modal-dialog
          // /.modal
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th Type
                  th Card Number
                  th Bands
                  th Valid From
                  th Expiry Date
                  th Label
                  th Comments
                tbody
                  each item in result
                    tr
                      td= item.type
                      td= item.card_number
                      td= item.bands
                      td= item.valid_from
                      td= item.expiry_date
                      td= item.labels
                      td= item.notes
                      
            .bs-example.bs-example-padded-bottom
            button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
              | Add a Bankcard
          // /Add Logins Button
    script(src='https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script(src='https://cdn.bootcss.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js')
    script(src='/assets/js/docs.min.js')
    //
      <script type="text/javascript">
      $('#logout').click(function(){
      console.log('logout button clicked');
      $.ajax({url: '/logout', success: function(req, res, next){
      console.log('successfully logout',res);
      }});
      });
      </script>

